<div>
  <button appButton>
    <app-svg-icon iconName="search" (click)="toggleInput()"
    />
  </button>
  <form [attr.hidden]="isFormHidden"
        [@slideInOut]="animationState"
        (@slideInOut.done)="onAnimationDone()"
        (@slideInOut.start)="onAnimationStart()"
  >
    <details [attr.open]="isDetailOpen">
      <summary>
        <input type="search" (focus)="onFocusInput()" />
      </summary>
      <div class="details-container">
        <div class="history">
          <p>История</p>
        </div>
        <div class="search-params">
          <fieldset>
            <legend>Автор</legend>
            <input type="text">
          </fieldset>
        </div>

      </div>
    </details>
  </form>
</div>




