:host {
  display: flex;
  align-items: center;
  position: relative;

  --menu-width: 44rem;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  padding: 4px 4px;
  z-index: 1;
}


input[type=search] {
  appearance: none;
  width: 100%;
  height: 3rem;
  padding: .75rem;
  font-size: .875rem;
  color: var(--grey-400);
  border: none;
  border-radius: 3px;

  &:focus {
    outline: 2px solid var(--black);
    outline-offset: -1px;
  }
}


summary {
  list-style: none;
  margin-bottom: 0.25rem;
  color: black;
  display: flex;

  &::-webkit-details-marker {
    display: none;
  }

  & button {
    display: none;
  }
}

.history {
  border-right: 1px solid var(--grey-200);

  ul {
    height: 100%;
    font-size: .875rem;
    color: var(--grey-700);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    li {
      &:last-child {
        background: linear-gradient(to bottom, var(--grey-700), var(--grey-100));
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }

  p {
    font-size: .75rem;
    color: var(--grey-400);
    margin-bottom: 0.5rem;
  }
}

.details-container {
  display: grid;
  grid-template-columns: 13.5rem auto;
  column-gap: 0.25rem;
  border-radius: 3px;
  box-shadow: 0 0 12px 4px var(--grey-400);
  background-color: var(--white);
}

.search-params, .history {
  padding: 1rem;
}

.search-params {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;

}

.author-name {
  padding: 0 0.75rem 0.75rem;
  color: var(--grey-400);
  display: flex;
  align-items: center;
  border-radius: 3px;

  & button {
    color: var(--grey-400);
    background: var(--grey-100)
  }
}

legend {
  font-size: .75rem;
}

input[type=text] {
  appearance: none;
  width: 100%;
  height: 100%;
  font-size: .875rem;
  color: inherit;
  border: transparent;
  outline: none;
}

label {
  display: inline-flex;
  color: var(--grey-700);
  gap: .75rem;
  cursor: pointer;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  & label {
    padding-left: 1.5rem;
  }
}

.category {

  & fieldset {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 1.25rem;
    border: none;
    padding: .5rem 0 0 0;

    & label {
      padding-left: 1.5rem;
    }
  }

  & legend {
    font-size: .875rem;
    color: var(--grey-700);
  }
}

@media (max-width: 768px) {
  :host {
    --menu-width: 100dvw;
  }

  input[type=search] {
    background-color: var(--grey-200);
    border-radius: 20px;
  }
  .content {
    position: fixed;
    background-color: var(--white);
  }
  .history {
    display: none;
  }
  .details-container {
    box-shadow: none;
    grid-template-columns: 1fr;
  }

  .author, {
    flex-direction: column;
  }

  .category {
    & fieldset {
      flex-direction: column;
    }
  }

  summary {
    //margin: 0 1rem;

    & button {
      display: inline-block;
    }
  }
}
