<button appButton>
  <app-svg-icon iconName="search" (click)="toggleForm()"
  />
</button>
<div class="content"
     [attr.hidden]="isFormHidden"
     [@slideInOut]="animationState"
     (@slideInOut.done)="onAnimationDone()"
     (@slideInOut.start)="onAnimationStart()">
  <form (ngSubmit)="onSubmit()">
    <details [attr.open]="isDetailOpen">
      <summary>
        <button appButton (click)="onBack()">
          <app-svg-icon iconName="arrow-back" />
        </button>
        <input type="search" (focus)="onFocusInput()" placeholder="Поисковый запрос" />
      </summary>
      <div class="details-container">
        <div class="history">
          <p>История</p>
          <ul>
            @for (item of history; let idx = $index; track idx) {
              <li>{{ item }}</li>
            }
          </ul>
        </div>
        <div class="search-params">
          <fieldset class="author-name">
            <legend>Автор</legend>
            <input type="text" name="author">
            <button appButton>Я</button>
          </fieldset>
          <div class="author">
            <label>
              <input type="checkbox" appCheckbox name="me">
              Я участник
            </label>
            <label>
              <input type="checkbox" appCheckbox name="strict">
              Строгий Поис
            </label>
            <label>
              <input type="checkbox" appCheckbox name="headers">
              В заголовках
            </label>
          </div>
          <div class="category">
            <fieldset>
              <legend>Только</legend>
              <label>
                <input type="checkbox" appCheckbox name="tags">
                Теги
              </label>
              <label>
                <input type="checkbox" appCheckbox name="request">
                Просьба
              </label>
              <label>
                <input type="checkbox" appCheckbox name="Contacts">
                Контакты
              </label>
            </fieldset>
          </div>
        </div>
      </div>
    </details>
    <button type="submit" hidden>Su</button>
  </form>
</div>






