@import './app/shared/style/index.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-size: 14px;
  background-color: yellowgreen;
}

html, body {
  min-width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
