:host {
  display: flex;
  align-items: center;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li {
  padding: 0 .5rem;

}

a {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--grey-300)
  }
}

@media (max-width: 992px) {
  ul {
    gap: .25rem;
  }

  li {
    padding: 0 .125rem;

  }

}
