:host {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--grey-300)
  }
}


