<nav>
  <ul>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="link" />
        <span>Ссылки</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="contacts" />
        <span>Котакты</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="tag" />
        <span>Теги</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="favorites" />
        <span>Избранное</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="history" />
        <span class="label">Посещения</span>
      </a>
    </li>
  </ul>
  <div class="nav-form">
    <button appButton>
      <app-svg-icon iconName="search" />
    </button>

    <button appButton>
      <app-svg-icon iconName="add" />
    </button>
  </div>
</nav>

