<nav>
  <ul>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="link" />
        <span>Ссылки</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="contacts" />
        <span>Котакты</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="tag" />
        <span>Теги</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="favorites" />
        <span>Избранное</span>
      </a>
    </li>
    <li>
      <a href="#">
        <app-svg-icon class="icon" iconName="history" />
        <span class="label">Посещения</span>
      </a>
    </li>
  </ul>

</nav>

