:host {
  margin-left: auto;
  display: flex;
  align-items: center;
}

article {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

button {
  position: relative;

  span {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 1rem;
    font-size: 11px;
    background-color: var(--red);
    border-radius: 30%;
  }

}

@media (max-width: 576px) {
  img {
    display: none;
  }
}
